@charset "utf-8";
/* CSS Document */

/*global*/
body { font-family: 'Open Sans', sans-serif; color: #545454; }
h1, h2, h3 { font-family: 'Open Sans', sans-serif; }
header, section, footer { width: 100%; }
h1 { font-size: 30px; color: #454343; font-weight: 700; text-align: center; text-transform: uppercase; }
h2 { font-size: 16px; font-weight: 700; text-align: center; }
p { line-height: 26px; }
.h1-bg { padding: 0 30px; }
.sideline { width: 120px; height: 1px; display: inline-block; margin-bottom: 10px; background: #e6e6e6; }
.intro { text-align: center; padding: 0 60px; margin-bottom: 65px; margin-top: 20px; }
.btn-primary { background: #0ecce1; font-size: 18px; font-weight: 700; text-transform: uppercase; border-color: transparent; padding: 12px 50px; transition: background 0.5s ease-in-out; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { border-color: transparent; background: #0ee1a3; }
/*navigation*/
.navbar { min-height: 90px; display: none; }
.navbar-default { background: #ffffff; border-color: transparent; box-shadow: 2px 0 5px #d4d4d4; }
.navbar-brand { background: url(../images/logo.png) no-repeat 0 0; width: 288px; height: 50px; text-indent: -99999px; margin: 19px 0; }
.navbar-nav > li > a { padding-top: 24px; padding-bottom: 22px; }
.navbar-default .navbar-nav > li > a { background: #f2f3f4; color: #2e2e2e; border-right: 1px solid #e3e3e3; font-weight: 700; font-size: 16px; } 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background: #0ecce1; color: #ffffff; border-right: 1px solid #00bed3; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #0ecce1; color: #ffffff; border-right: 1px solid #00bed3; } 
.subtitle { font-weight: 400; font-size: 13px; display: block; padding-top: 3px; }
/*home*/
#home { background: #f2f3f4; border-bottom: 1px solid #e7e7e7; }
.jumbotron { background: none; padding-top: 25px; padding-bottom: 0; margin-bottom: 0; }
.jumbotron h1 { text-align: center; font-size: 30px; color: #2f2f2f; font-weight: 800; text-transform: uppercase; line-height: 48px; margin-bottom: 45px; }
.jumbotron h1 span { color: #0ecce1; }
/*about*/
#about { padding-top: 90px; }
.features > article h2 { color: #545454; transition: color 500ms ease; }
.features > article p { color: #545454; transition: color 500ms ease; }
.features > article { padding-left: 20px; padding-right: 20px; border-radius: 0; background: none; margin-top: 0; box-shadow: none; transition: border-radius 500ms ease, background 800ms ease, margin-top 500ms ease, box-shadow 0.3s ease-in; }
.features > article:hover { border-radius: 5px; background: #0ecce1; margin-top: -20px; box-shadow: 1px 1px 5px #d4d4d4; }
.features > article:hover h2, .features > article:hover p { color: #ffffff; }
.features > article > span { background: url(../images/curve.png) center bottom no-repeat; display: block; width: 110px; height: 116px; margin-left: 70px; margin-bottom: 50px; }
.features > article > span span { width: 110px; height: 116px; display: block; background: url(../images/sprite1.png) no-repeat;  transition: background 0.3s ease; }
.features > article:hover > span span { background: url(../images/sprite1-hover.png) no-repeat; }
.icon-compass { background-position: 25px 30px !important; }
.icon-chat { background-position: -120px 30px !important; }
.icon-discover { background-position: -270px 30px !important; }
.icon-preferences { background-position: -410px 30px !important; }
.btn-block { text-align: center; }
#about .btn-block { padding: 60px 0; }
/*advisors*/
#advisors { background: url(../images/squairy_light.png), url(../images/ad-bg.jpg); background-repeat: repeat, no-repeat; background-position: 0 0; background-size: auto, cover; padding: 90px 0; color: #ffffff; }
#advisors h1 { color: #ffffff; }
#advisors figure { position: relative; max-width: 150px; float: left; margin-left: 30px; margin-top: 30px; overflow: hidden; }
#advisors figure img { transition: all 500ms ease; }
#advisors figure:hover img { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
#advisors figure figcaption { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; transition: opacity 0.3s ease-in-out; }
#advisors figure:hover figcaption { opacity: 1; }
.desc-block { width: 100%; background: url(../images/trans1.png) repeat 0 0; height: 100%; display: table; }
.description { display: table-cell; vertical-align: middle; }
.description h2 span { font-size: 14px; font-weight: 400; display: inline-block; margin-top: 10px; }
.content-right { padding: 40px 25px; }
.content-right ul { list-style-type: none; padding: 0; margin-top: 30px; }
.content-right ul li { background: url(../images/tick.png) no-repeat 0 2px; padding-left: 30px; margin-bottom: 15px; }
.content-right .btn-block { padding-top: 35px; }
/*plans*/
#plans { background: #f3f3f3; padding: 90px 0 50px; }
.plan-box { background: url(../images/inflicted.jpg) repeat 0 0; text-align: center; transition: all 300ms ease; }
.plan-box:hover { -webkit-transform: scale(1.1); }
.plan-box h3 { font-size: 25px; color: #ffffff; text-transform: uppercase; font-weight: 700; margin: 30px 0; display: inline-block; }
.plan-box p { font-size: 18px; color: #ffffff; padding: 17px 0; margin-bottom: 0; }
.plan-box p:last-child { padding-bottom: 34px; }
.plan-price { background: url(../images/inflicted2.jpg) repeat 0 0; }
p.plan-price { font-size: 70px; font-weight: 700; color: #ffffff; padding: 40px 0 30px; margin-bottom: 17px; }
.plan-price span { font-weight: 400; font-size: 30px; }
.note { font-size: 13px; font-style: italic; padding: 25px 0; }
#plans .btn-block { padding-top: 20px; }
/*testimonial*/
#testimonial { background: #2ec289; padding: 90px 0 50px; }
#testimonial h1, #testimonial p { color: #ffffff; }
.testimonial-block { text-align: center; padding-top: 50px; }
.testimonial-block > div { display: inline-block; margin-bottom: 50px; }
.pic-block { background: url(../images/curve-green.png) no-repeat center bottom; width: 160px; height: 170px; }
.customer-pic { border-radius: 100px; overflow: hidden; }
#testimonial p { font-style: italic; margin: 0; }
/*contact*/
#contact { padding: 90px 0 20px; }
#contact form input, #contact form textarea { width: 100%; border: 1px solid #e5e5e5; background: #f5f5f5; height: 50px; border-radius: 3px; margin-bottom: 20px; padding: 0 10px; color: #3a3a3a; }
#contact form textarea { height: 150px; resize: vertical; padding: 10px; }
#contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder,
#contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder
#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder
#contact form input::-webkit-placeholder, #contact form textarea::-webkit-placeholder { 
	font-style: italic; color: #b7b7b7; }
#contact form > div { text-align: right; padding-top: 10px; }
.contact-details { padding-left: 35px; }
.contact-details ul { list-style-type: none; padding: 0; }
.contact-details > ul li { margin-bottom: 6px; }
.social p { font-size: 20px; }
.social ul li { float: left; margin-right: 8px; }
.social ul li a { width: 49px; height: 51px; border-radius: 0; display: block; -webkit-transition: border-radius 0.5s ease-in-out; -moz-transition: border-radius 0.5s ease-in-out; -ms-transition: border-radius 0.5s ease-in-out; -o-transition: border-radius 0.5s ease-in-out; transition: border-radius 0.5s ease-in-out; }
.social ul li a:hover { border-radius: 100px; }
.social ul li:nth-child(1) a { background: url(../images/social.png) no-repeat -2px 0; }
.social ul li:nth-child(2) a { background: url(../images/social.png) no-repeat -63px 0; }
.social ul li:nth-child(3) a { background: url(../images/social.png) no-repeat -124px 0; }
.social ul li:nth-child(4) a { background: url(../images/social.png) no-repeat -185px 0; }
.social ul li:nth-child(5) a { background: url(../images/social.png) no-repeat -246px 0; }
.map { margin: 50px 0 30px; }
.copyright p { border-top: 1px solid #e4e4e4; }
.copyright p a { font-weight: 800; color: #0ecce1; }